@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

.purple-nav {
  background-color: #9090ff;
  top: 0;
  width: 100%;
  height: 100px;
}

.logo {
  width: 225px;
  height: auto;
}

.ctr {
  width: 80%;
  height: 100px;
}

.nav-left {
  margin: auto;
}
.nav-right {
  text-align: right;
  margin: auto;
}
.login-button {
  align-items: right;
  padding: 10px 40px 10px 40px;
  color: #9090ff;
  background-color: #ffff90;
  border: none;
  border-radius: 30px;
}

.main-home {
  background-image: url("images/scrib_bkg.png");
  background-size: 100%;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-login {
  background-image: url("images/scrib_bkg2.png");
  background-size: 100%;
  width: 100%;
  height: 900px;
  text-align: center;
}

.main-create {
  background-image: url("images/scrib_bkg2.png");
  background-size: 100%;
  width: 100%;
  height: 900px;
  text-align: center;
}

.login-panel {
  padding: 10px 75px 10px 75px;
  color: #ffff90;
  background-color: #9090ff;
  border: none;
  /*resize: none; */
  position: fixed;
  border-radius: 30px;
}

.create-panel {
  padding: 10px 75px 10px 75px;
  color: #ffff90;
  background-color: #9090ff;
  border: none;
  /*resize: none; */
  position: fixed;
  border-radius: 30px;
}

#uname-text,
#ps-text {
  text-align: left;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

#uname-create-text,
#ps-create-text,
#ps-confirm-text {
  text-align: left;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.cr-in {
  width: 100%;
}

.center {
  top: 70%;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center-2 {
  top: 50%;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}

.intro h1 {
  margin: 0;
  font-weight: bold;
}

.intro button {
  margin: 20px;
}

.dark-button {
  padding: 10px 150px 10px 150px;
  color: #ffff90;
  background-color: #9090ff;
  border: none;
  /*resize: none;*/
  /*position: fixed;*/
  border-radius: 30px;
}

.home-1 {
  background-color: #c3c3ff;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.home-2 {
  background-color: #9090ff;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.home-3 {
  background-color: #c3c3ff;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}

.disp-left-1,
.disp-right-3 {
  color: #414166;
}

.disp-left-1 h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.disp-right-3 h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.disp-left-2 {
  color: #ffff90;
}

.disp-left-2 h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.the-container {
  width: 100%;
  height: 900px;
}

#pyr {
  max-width: 100%;
  max-height: 100%;
}

#c-ex,
#n-ex {
  max-width: 100%;
  max-height: 100%;
}

body,
.App {
  color: #414166;
  background-color: #c3c3ff;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  /* scroll-snap-type: y mandatory;
  scroll-snap-align: start; */
}

.home-container {
  height: 100vh;
  overflow-y: scroll; /* Add this line to enable scrolling */
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

.home-container > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.column1,
.column3 {
  width: 100%;
  height: 800px;
  background-size: 100%;
  background-color: #9b9bcc;
}

.column1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.sidebar-content {
  padding: 10px 0px 0px 0px;
}

.sidebar-content li {
  padding: 10px 10px 10px 10px;
}
.column2 {
  width: 100%;
  height: 800px;
  background-size: 100%;
  background-color: #c3c3ff;
  position: relative;
}

/* For Firefox */
.chat-container {
  max-height: 680px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(114, 118, 125, 0.5) transparent; 
}

/* For WebKit (Chrome, Safari) */
.chat-container::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.chat-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set scrollbar track color */
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(114, 118, 125, 0.5);
  border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(114, 118, 125, 0.8);
}

.the-chat-div {
  padding: 0px 0px 0px 0px;
  width: 100% !important;
  background-color: #c3c3ff !important;
  color: #414166;
}

.chat-panel {
  border-bottom: 1px solid #9090ff;
}
.nav-items {
  list-style-type: none;
  padding: 20px 0px 0px 90px;
  display: inline-block;
}

.the-nav {
  background-color: #9090ff;
  height: 50px;
}
.nav-items li {
  display: inline;
  padding: 20px 30px 10px 30px;
}

.sidebar-content {
  list-style-type: none;
}

.scrib-emblem {
  padding: 5px 0px 0px 10px;
  height: 45px;
  width: auto;
  float: left;
}

.container-body p {
  padding: 0px 0px 0px 0px;
  margin: 2px;
}

.user-text {
  font-weight: bold;
}

#welcome-text {
  margin-bottom: 0px;
}

#welcome-create-text {
  margin-bottom: 0px;
}

.spacer-0 {
  height: 25px;
}

#log-page-button {
  padding: 10px 40px 10px 40px;
  color: #9090ff;
  background-color: #ffff90;
  border: none;
  border-radius: 30px;
}

#create-account-button {
  padding: 10px 40px 10px 40px;
  color: #9090ff;
  background-color: #ffff90;
  border: none;
  border-radius: 30px;
}

#the-textarea {
  /* position: absolute; */
  /* bottom: 0;
  padding-left: 0px;
  padding-right: 0px; */
  position: fixed;

  margin-top: -110px;
  margin-left: 0px;
  width: 65%;
  padding: 10px;
  /* resize: none; */
}

#txt {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#send-button {
  width: 100%;
  color: #9090ff;
  background-color: #ffff90;
  border: none;
  border-radius: 30px;
}

/*
#note-window {
  height: 800px;
}
*/

#note-text {
  width: 100%;
  height: 100%;
}

#the-notes {
  background-color: #ffffff;
  padding: 0px 0px 0px 0px;
  height: 800px;
}

.the-note-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.err-msg-1,
.err-msg-2 {
  color: #ff0000;
  display: none;
}
.nav-items li {
  padding: 0px 10px 0px 10px;
}
.nav-items li label {
  border-radius: 10px 10px 0 0;
  padding: 10px 35px 10px 35px;
}

.nav-items li:nth-child(1) label {
  background-color: #c95757;
}

.nav-items li:nth-child(1) label:hover {
  background-color: #ba8787;
}

.nav-items li:nth-child(2) label {
  background-color: #c98557;
}

.nav-items li:nth-child(2) label:hover {
  background-color: #baa087;
}

.nav-items li:nth-child(3) label {
  background-color: #c9c357;
}

.nav-items li:nth-child(3) label:hover {
  background-color: #bab487;
}

.nav-items li:nth-child(4) label {
  background-color: #57c97b;
}

.nav-items li:nth-child(4) label:hover {
  background-color: #87ba87;
}

.nav-items li:nth-child(5) label {
  background-color: #5766c9;
}

.nav-items li:nth-child(5) label:hover {
  background-color: #878dba;
}

.nav-items li:nth-child(6) label {
  background-color: #8557c9;
}

.nav-items li:nth-child(6) label:hover {
  background-color: #a187ba;
}

.nav-items li:nth-child(7) label {
  background-color: #bf57c9;
}

.nav-items li:nth-child(7) label:hover {
  background-color: #b487ba;
}

.profile-button {
  position: absolute;
  display: inline-flex;
  background-color: #ffff90;
  color: #9090ff;
  text-align: right;
  top: 10px;
  right: 20px;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  border: none;
}

.reset-password {
  display: inline-flex;
  background-color: #ffff90;
  color: #9090ff;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.active-users,
.inactive-users {
  list-style: none;
  padding-left: 0px;
  padding-top: 20px;
  color: #ffff90;
}

.the-chat-form {
  position: absolute;
  margin-top: 10px;
  bottom: 10px;
  width: 936px;
}

.full-datetime {
  font-style: italic;
  font-size: smaller;
  float: right;
}

.ql-container {
  height: 756px !important;
}

.side-selection {
  width: 100%;
  padding: 10px 0;
}

.side-selection h5 {
  padding-left: 12px;
  color: #ffff90;
}

.side-selection:hover {
  background-color: #6c6c90;
}

.side-list {
  padding: 0px 0px 0px 0px !important;
}

.the-link:link {
  text-decoration: none;
}

.the-link:visited {
  text-decoration: none;
}

.the-link:hover {
  text-decoration: none;
}

.the-link:active {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.return-top {
  align-items: right;
  padding: 10px 40px 10px 40px;
  color: #9090ff;
  background-color: #ffff90;
  border: none;
  border-radius: 30px;
}

.cropper {
  flex-direction: column;
  justify-content: center;
}

.cropper > div > img {
  border-radius: 50%;
  border-style: solid;
  justify-self: end;
}

input[type="file"] {
  display: none;
}

.buttonPress {
  cursor: pointer;
}

.popup-content {
  background: #6c6c90 !important;
  color: #ffff90;
  font-family: "Montserrat", sans-serif;
  width: 250px !important;
}

.view-profile-button,
.sign-out-button,
.edit-profile-button,
.back-button {
  /*position: absolute;
  display: inline-flex;*/
  background-color: #ffff90;
  color: #6c6c90;
  text-align: right;
  top: 10px;
  right: 20px;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  border: none;
}

#the-user-profile h4 {
  font-weight: bold;
}

#the-user-profile p {
  margin: 0;
}

.new-page {
  font-family: "Montserrat Italic" !important;
}

.drop-down-container {
  display: flex;
}

/*
#the-user-profile {
  background-color: #6c6c90;
  font-family: "Montserrat";
  color: #ffff90;
  border: 2px solid #ffff90;
  width: 400px;
  height: 300px;
  top: 33%;
  left: 37%;
  position: absolute;
}
*/

/*
#user-profile-box {
  padding: 10%;
  margin: 10%;
  background-color: #6c6c90;
  font-family: "Montserrat";
  color: #ffff90;
  border: 2px solid #ffff90;
  width: 400px;
  height: 300px;
  top: 30%;
  left: 35%;
  position: absolute;
}
*/

.user-profile-content {
  background-color: #6c6c90;
  font-family: "Montserrat";
  color: #ffff90;
  border: 2px solid #ffff90;
  width: 400px;
  height: auto;
  top: 30%;
  left: 35%;
  position: absolute;
  padding: 5px 5px 5px 5px;
}

#chat-window-empty {
  text-align: center;
}

.empty-text-wrapper {
  top: 10%;
  left: 23%;
  position: absolute;
  text-align: center;
}
